<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Teacher コミュニティの入口</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag("favicon.png") %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to "Gate", root_path %>
      </h1>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% else %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
